<div class="modal fade" id="easy-memo-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-i18n="memo.title">簡易メモ帳</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <textarea id="easy-memo-modal-input" class="form-control text-start" rows="5"
                    placeholder="メモを入力してください" data-i18n-placeholder="memo.placeholder"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger easy-memo-delete" data-i18n="memo.delete">メモを削除</button>
                <button class="btn btn-primary easy-memo-copy" data-i18n="memo.copy">メモをコピー</button>
            </div>
        </div>
    </div>
</div>
